<html>
<head>
	<title></title>
</head>
<body>
	<h1>Hi, <%= @user.name %>!</h1>
	<p>Looks like the following foods are about to expire:</p>
	<ul>
		<% @food.each do |food| %>
			<li><%= food.food_name %></li>
		<% end %>
	</ul>
	
	<p>You have two days left until the expiration date, you should use it up!</p>

	<h3>Happy Cooking,</h3>
	<h3>The Foodie Team</h3>

</body>
</html>