<html>
<head>
	<title></title>
</head>
<body>
	<h1>Thanks for signing up, <%= @user.name %>!</h1>
	<p>We hope to help you organize your food life and lessen your amount of food waste!</p>

	<h3>Cheers,</h3>
	<h3>The Foodie Team</h3>

</body>
</html>