<div class="row">
	<h1>Your account info</h1>

	<h4>Name:</h4>
	<p> <%= @user.name %></p>
	<h4>Account Email:</h4>
	<p> <%= @user.email %></p>
	<h4>Began Subscription At:</h4> 
	<p><%= @user.created_at %></p>

	<%= link_to "Edit Account Information", edit_user_path(@user), :class => "btn submit-button" %>
</div>