<h1>Heres your account info</h1>

<h4>Name: <%= @user.name %></h4></li>
<h4>Account Email: <%= @user.email %></h4>
<p>Began Subscription At: <%= @user.created_at %></p>

<%= link_to "Edit Account Information", edit_user_path(@user) %>

