<div class="row">
	<div class="col-md-10 welcome-background">
		<%= image_tag("background_image.jpg", :class => "welcome-image img-responsive") %>
	</div>
	<div class="col-md-2">
		<h2>Foodie</h2>
	</div>
		<a class="btn btn-default login-button btn-welcome" href="/login">Log In</a>
		<a class="btn btn-default btn-welcome" href="/users/new">Sign Up</a>

</div>