<div class="row">
	<div class="col-md-10 welcome-background">
		<%= image_tag("background_image.jpg", :class => "welcome-image img-responsive") %>
</div>
	<div class="col-md-2">
		<h2>Foodie</h2>
	</div>
	<div class="col-md-2 front-page-buttons">
		<a class="btn btn-default login-button btn-welcome" href="/login">Get Started</a>
	</div>

</div>