<li data-id="<%= food.id %>">
	<h4><%= food.food_name %></h4>
	<p><%= food.quantity %></p>
	<p><%= food.expiration %></p>

	<button class="edit-button btn btn-default">Edit Me</button>
	<button class="delete-button btn btn-default">Delete Me</button>
	<form class="edit-food-form" style="display:none;"></form>
</li>
