<div class="row">
	<div class="col-md-5 recipe">
		<h1>Your Ingredients:</h1>
		<% @food.each do |food| %>
			<h3>Name of food:</h3> 
			<p><%= food.food_name %></p>
			<h4>Quantity:</h4> 
			<p><%= food.quantity %></p>
			<h4>Expiration Date:</h4>
			<p><%= food.expiration %></p>
			<h4>Purchased on:</h4> 
			<p><%= food.created_at %></p>

		<% end %>

	</div>
</div>
