<div class="row">
	<% @food.each do |food| %>
		<h3>Name of food: <%= food.food_name %></h3>
		<h3>Quantity: <%= food.quantity %></h3>
		<h3>Expiration Date: <%= food.expiration %></h3>
		<h3>Purchased on: <%= food.created_at %></h3>

	<% end %>
</div>
