@import url(https://fonts.googleapis.com/css?family=Lora);

body{
	padding-top: 40px;
	font-family: 'Lora';

}
.content{
	padding: 5% 2%;

}

.navbar-header{
	float: none;

}

.badge {
	display: inline;
	background-color: #008B8B;
}

#error-message {
	ul {
		color: red;
	}
}
.submit-button {
	background-color: #008B8B;
	color: white;
}
.welcome-image {
	width: 85%
}

footer {
	background-color: black;
}