@import url(https://fonts.googleapis.com/css?family=Lora);

body{
	padding-top: 40px;
	font-family: 'Lora';

}
.content{
	padding: 5% 2%;

}

.navbar-header{
	float: none;

}

.badge {
	display: inline;
	background-color: #008B8B;
}

.login-button {
	position: relative;
	right: 2%;
}

.btn-welcome:hover {
	background-color: rgba(0,128,128,0.5);

}

#error-message {
	ul {
		color: red;
	}
}
.submit-button {
	background-color: #008B8B;
	color: white;
}
.welcome-image {
	width: 85%
}

.front-page-buttons {
	position: relative;

}

footer {
	background-color: black;
}