<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Foodie</a>
			<div class="hidden-xs hidden-sm">
				<% if logged_in? %>
					<span class="navbar-brand">Hey, <%= current_user.name %>!
					</span>
					
						
				<% end %>
			</div>
			<div class="pull-right">
				<ul class="nav navbar-nav hidden-xs hidden-sm">
					<li><a href="/users/<%=current_user.id%>/foods">Your Pantry</a></li>

				</ul>
				<% if logged_in? %>
					<%= link_to "Logout", logout_path, method: :delete, class: "navbar-brand" %>
			
				<% else %>
					<a class="navbar-brand" href="/login">Log In</a>
					
				<% end %>
			</div>

		</div>
	</div>
</nav>